.container-layout {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 32px;
    flex: 1;
    margin-bottom: 32px;
}
.picture-container {
    border-radius: 10px;
}
.outer {

}
.inner {
    
}
@media screen {
    
}