.container-layout {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 32px;
    margin-bottom: 32px;
}
.picture-container {
    border-radius: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.d_none {
    display: none;
}

@media screen and (max-width: 450px) {
    .container-layout {
        gap: 36px;
    }
}