.positioning-inpage {
    padding: 32px;
    border-radius: 12px;
    max-width: 90vw;
    max-height: 90vh;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 4;
}
#dialog {
    width: 35%;
    height: 650px;
    max-height: 100vh;
    min-height: 50%;
    background-color: rgb(241 150 114);
    border-radius: 20px;
    border-color: rgb(255, 240, 240);
    z-index: 5;
    position: fixed;
    overflow: hidden;
    top: calc(50% - 320px);
}
.positioning {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.cross-btn {
    display: flex;
    align-items: center;
}
.cross-btn:hover {
    cursor: pointer;
    opacity: 0.6;
    filter:drop-shadow(5px 5px 20px);
}
.arrow-btn:hover{
    cursor: pointer;
    opacity: 0.8;
    filter:drop-shadow(1px 1px 15px);
}
.circle-btn {
    border-radius: 25px;
    height: 35px;
    width: 35px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}
.btn-aligning {
    align-items: center;
    flex-direction: row;
    gap:16px;
    height:25px;
    bottom:32px;
}
button{
    all:unset;
}
.churchid-box {
    min height: 400px;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    max-height: 500px;
    object-fit: cover;
}
.churchid-box img:hover{
    transform: none;
    opacity: 1;
    cursor: default;
}
.img-title-align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.picture-from {
    display: flex;
    font-size: 24px;
    white-space: nowrap;
}
.caption {
    display: flex;
}
@media screen and (max-width: 950px) {
    .picture-from {
        width:80px;
    }
}
@media screen and (max-width: 600px) {
    #dialog {
        min-width: 250px;
    }
}
@media screen and (max-width: 450px) {
    #dialog {
        height:600px;
    }
}